@model CameraTuanA.Models.Contact
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chi tiết</h4>
                <button type="button" class="close btn bg-transparent border-0" data-bs-dismiss="modal" onclick="closeModal()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="row mb-3">
                            <label for="Name" class="control-label col-md-2 text-right">Tên</label>
                            <div class="col-md-10">
                                <p>@Model.FullName</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mb-3">
                            <label for="Email" class="control-label col-md-2 text-right">Email <span class="text-danger">*</span></label>
                            <div class="col-md-10">
                                <p>@Model.Email</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mb-3">
                            <label for="PhoneNumber" class="control-label col-md-2 text-right">Số điện thoại</label>
                            <div class="col-md-10">
                                <p>@Model.PhoneNumber</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mb-3">
                            <label for="Subject" class="control-label col-md-2 text-right">Chủ đề</label>
                            <div class="col-md-10">
                                <p>@Model.Subject</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mb-3">
                            <label for="MessageContent"  class="control-label col-md-2 text-right">Nội dung</label>
                            <div class="col-md-10">
                                <p style="white-space: pre-wrap;">@Model.MessageContent</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mb-3">
                            <label for="CreatedAt" class="control-label col-md-2 text-right">Ngày Tạo</label>
                            <div class="col-md-10">
                                <p>@Model.CreatedAt?.ToString("dd/MM/yyyy HH:mm:ss")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnclosemodel" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
