@model reportTopSell;
@using System.Globalization
<div class="col-12">
    <div class="card top-selling overflow-auto" style="min-height: 18vw;">

        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" onclick="TopSelling('today')">Today</a></li>
                <li><a class="dropdown-item" onclick="TopSelling('this_month')">This Month</a></li>
                <li><a class="dropdown-item" onclick="TopSelling('this_year')">This Year</a></li>
            </ul>
        </div>

        <div class="card-body pb-0">
            <h5 class="card-title">
                Top Selling <span>
                    |
                    @{
                        switch (Model.filter)
                        {
                            case "today":
                                <span>Today</span>
                                ;
                                break;
                            case "this_month":
                                <span>This Month</span>
                                ;
                                break;
                            case "this_year":
                                <span>This Year</span>
                                ;
                                break;
                            default:
                                <span>Today</span>
                                ;
                                break;
                        }
                    }
                </span>
            </h5>

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price-now</th>
                        <th scope="col">Sold</th>
                        <th scope="col">Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.listTopSell)
                    {
                        <tr>
                            <th scope="row"><img src="@item.ProductImage" alt="@item.ProductImage"></th>
                            <td>@item.ProductName</td>
                            <td>@String.Format(new CultureInfo("vi-VN"), "{0:C0}", item.PriceNow)</td>
                            <td class="fw-bold">@item.TotalQuantitySold</td>
                            <td>@String.Format(new CultureInfo("vi-VN"), "{0:C0}", item.revenue)</td>
                        </tr>  
                    }
                    <tr></tr>
                </tbody>
            </table>

        </div>

    </div>
</div>