@model List<CameraTuanA.Models.Product>
@using System.Globalization
@{
    int pageNumber = ViewBag.PageNumber ?? 10;     // Tổng số trang
    int pageCurrent = ViewBag.PageCurrent ?? 1;     // Trang hiện tại
    int pageSize = ViewBag.PageSize ?? 10;          // Số dòng / trang
    int[] pageSizes = new[] { 5, 10, 20, 50 };      // Danh sách chọn số dòng
    int maxPages = 7; // số nút tối đa
    int startPage = Math.Max(1, pageCurrent - maxPages / 2);
    int endPage = Math.Min(pageNumber, startPage + maxPages - 1);

    // Nếu cuối danh sách mà số nút ít hơn maxPages thì đẩy startPage về
    if (endPage - startPage + 1 < maxPages)
    {
        startPage = Math.Max(1, endPage - maxPages + 1);
    }
}
<div class="tab-content">
    <div id="tab-5" class="tab-pane fade show p-0 active">
        <div class="row g-4 product">
            @foreach (var item in Model)
            {
            <div class="col-lg-4">
                <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                    <div class="product-item-inner border rounded">
                        <div class="product-item-inner-item">
                            <img src="@item.MainImage" style="min-height:170px;min-width:300px" class="img-fluid w-100 rounded-top" alt="@item.ProductName">
                            <div class="product-new">New</div>
                            <div class="product-details">
                                    <a href="@Url.Action("Index", "SingleProduct", new { Id = item.Id })"><i class="fa fa-eye fa-1x"></i></a>
                            </div>
                        </div>
                        <div class="text-center rounded-bottom p-4">
                            <a  class="d-block mb-2">Camera</a>
                            <a  class="d-block h4">@item.ProductName </a>
                            @if(item.OriginalPrice != null)
                            {
                            <del class="me-2 fs-5">@String.Format(new CultureInfo("vi-VN"), "{0:C0}", item.OriginalPrice)</del>
                            }
                            <span class="text-primary fs-5">@String.Format(new CultureInfo("vi-VN"), "{0:C0}", item.SellingPrice)</span>
                        </div>
                    </div>
                    <div class="product-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                        <a  onclick="addToCart(@item.Id)"
                           class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4">
                            <i class="fas fa-shopping-cart me-2"></i> Add To Cart
                        </a>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="d-flex">
                                <a 
                                   class="text-primary d-flex align-items-center justify-content-center me-3">
                                    <span class="rounded-circle btn-sm-square border">
                                        <i class="fas fa-random"></i>
                                </a>
                                <a 
                                   class="text-primary d-flex align-items-center justify-content-center me-0">
                                    <span class="rounded-circle btn-sm-square border">
                                        <i class="fas fa-heart"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="pagination d-flex justify-content-center mt-5">
                    <a onclick="$('#page').val(1); Product.loadData();" class="rounded">&laquo;</a>
                    @for (int i = startPage; i <= endPage; i++)
                    {
                        if (i == pageCurrent)
                        {
                            <a onclick="$('#page').val(@i); Product.loadData();" class="active rounded">@i</a>
                        }
                        else
                        {
                            <a onclick="$('#page').val(@i); Product.loadData();" class="rounded">@i</a>
                        }
                    }
                    <a  onclick="$('#page').val(@pageNumber); Product.loadData();" class="rounded">&raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-6" class="products tab-pane fade show p-0">
        <div class="row g-4 products-mini">
            @foreach (var item in Model)
            {
            <div class="col-lg-6">
                <div class="products-mini-item border">
                    <div class="row g-0">
                        <div class="col-5">
                            <div class="products-mini-img border-end h-100">
                                    <img src="@item.MainImage" style="min-height:170px;min-width:300px" class="img-fluid w-100 h-100"
                                     alt="Image">
                                <div class="products-mini-icon rounded-circle bg-primary">
                                    <a href="@Url.Action("SingleProduct", "Product", new { Id = item.Id })"><i class="fa fa-eye fa-1x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="products-mini-content p-3">
                                <a  class="d-block mb-2">Camera</a>
                                <a  class="d-block h4">@item.ProductName </a>
                                    @if(item.OriginalPrice != null)
                                    {
                                        <del class="me-2 fs-5">@String.Format(new CultureInfo("vi-VN"), "{0:C0}", item.OriginalPrice)</del>
                                    }
                                    
                                <span class="text-primary fs-5">@String.Format(new CultureInfo("vi-VN"), "{0:C0}", item.OriginalPrice)</span>
                            </div>
                        </div>
                    </div>
                    <div class="products-mini-add border p-3">
                        <a  onclick="addToCart(@item.Id)"
                           class="btn btn-primary border-secondary rounded-pill py-2 px-4">
                            <i class="fas fa-shopping-cart me-2"></i> Add To Cart
                        </a>
                        <div class="d-flex">
                            <a 
                               class="text-primary d-flex align-items-center justify-content-center me-3">
                                <span class="rounded-circle btn-sm-square border">
                                    <i class="fas fa-random"></i>
                            </a>
                            <a 
                               class="text-primary d-flex align-items-center justify-content-center me-0">
                                <span class="rounded-circle btn-sm-square border">
                                    <i class="fas fa-heart"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="pagination d-flex justify-content-center mt-5">
                    <a onclick="$('#page').val(1); Product.loadData();" class="rounded">&laquo;</a>
                    @for (int i = startPage; i <= endPage; i++)
                    {
                        if (i == pageCurrent)
                        {
                            <a onclick="$('#page').val(@i); Product.loadData();" class="active rounded">@i</a>
                        }
                        else
                        {
                            <a onclick="$('#page').val(@i); Product.loadData();" class="rounded">@i</a>
                        }
                    }
                    <a  onclick="$('#page').val(@pageNumber); Product.loadData();" class="rounded">&raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
